{% extends 'base.html.twig' %}

{% block title %} Modification du profile utilisateur{% endblock %}

{% block body %}
    <div class="container">
        <h1>Modification du profil</h1>

        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}

        {{ form_start(form) }}
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-4">{{ form_row(form.firstName) }}</div>
                <div class="col-md-4">{{ form_row(form.lastName) }}</div>
                <div class="col-md-4">{{ form_row(form.email) }}</div>
                <div class="col-md-4">{{ form_row(form.description) }}</div>
                <div class="col-md-4">{{ form_row(form.imageFile) }}</div>
            </div>
        </div>
        {{ form_rest(form) }}

        <button class="btn btn-primary">{{ button|default("Enregistrer") }}</button>

        {{ form_end(form) }}
    </div>
{% endblock %}