<div class="col-3">
    <div class="card">
        <div class="card-body">
            {% if property.fileName %}
                <img src="{{ vich_uploader_asset(property, 'imageFile') | imagine_filter('thumb') }}" style="width: 100%; height: auto;" alt="{{ property.title }}">
            {% endif %}
            <h5 class="card-title">
                <a href="{{ path('property.show', {id: property.id, slug: property.slug}) }}">{{ property.title }}</a>
            </h5>
            <p class="card-text">{{ property.description | truncate(20, true) }}</p>
            <p class="card-text">{{ property.surface }} m² -  {{ property.city }} {{ property.zipCode }}</p>
            <p class="text-primary">{{ property.formattedPrice }} €</p>
        </div>
    </div>
</div>