{% extends 'base.html.twig' %}

{% block title %} tous les biens{% endblock %}
{% block body %}
    <div class="jumbotron">
        <div class="container">
            {{ form_start(form) }}
            <div class="form-row align-items-end">
                <div class="col">
                    {{ form_row(form.minSurface) }}
                </div>
                <div class="col">
                    {{ form_row(form.maxPrice) }}
                </div>
                <div class="col">
                    {{ form_row(form.options) }}
                </div>
                <div class="col">
                    <div class="form-group">
                        <button class="btn btn-primary">Rechercher</button>
                    </div>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>

    <div class="container">
        <h1 class="text-center">Voir tous nos biens</h1>

        <div class="row flex mt-4">
            {% for property in properties %}
                {% include 'property/_property.html.twig' %}
            {% endfor %}
        </div>

        <div class="navigation">
            {{ knp_pagination_render(properties) }}
        </div>
    </div>
{% endblock %}