{% extends 'base.html.twig' %}

{% block title %} {{ property.title }}{% endblock %}
{% block body %}
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-8">
                {% if property.fileName %}
                    <img src="{{ vich_uploader_asset(property, 'imageFile') | imagine_filter('medium') }}" style="width: 100%; height: auto;" alt="{{ property.title }}">
                {% else %}
                    <img src="{{ '/images/defaults/property_default.jpeg' | imagine_filter('medium') }}" style="width: 100%; height: auto;" alt="{{ property.title }}">
                {% endif %}
            </div>
            <div class="col-md-4">
                <h1>{{ property.title }}</h1>
                <p>{{ property.rooms }} rooms - {{ property.surface }} m²</p>
                <div class="text-primary" style="font-weight: bold;font-size: 4rem;">{{ property.formattedPrice }} €</div>
                <button id="contactBtn" class="btn btn-primary">Contacter l'agence</button>
                <div id="contactForm" class="mt-4">
                    {{ form_start(form) }}
                        <div class="row">
                            <div class="col">{{ form_row(form.firstName) }}</div>
                            <div class="col">{{ form_row(form.lastName) }}</div>
                        </div>
                    <div class="row">
                        <div class="col">{{ form_row(form.phone) }}</div>
                        <div class="col">{{ form_row(form.email) }}</div>
                    </div>
                    {{ form_rest(form) }}
                    <div class="form-group">
                        <button class="btn btn-primary">Envoyer</button>
                    </div>
                    {{ form_end(form) }}
                </div>
                <div class="mt-4">
                    {% for label, messages in app.flashes %}
                        {% for message in messages %}
                            <div class="alert alert-{{ label }}">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endfor %}
                </div>

            </div>
        </div>

        <p>
            {{ property.description|nl2br }}
        </p>
        <div class="row">
            <div class="col-md-8">
                <h2>Characteristics: </h2>
                <table class="table table-striped">
                    <tr>
                        <td>Living surface</td>
                        <td>{{ property.surface }}</td>
                    </tr>

                    <tr>
                        <td>Rooms</td>
                        <td>{{ property.rooms }}</td>
                    </tr>

                    <tr>
                        <td>Bedrooms</td>
                        <td>{{ property.bedrooms }}</td>
                    </tr>

                    <tr>
                        <td>Floor</td>
                        <td>{{ property.floor }}</td>
                    </tr>

                    <tr>
                        <td>Heating type</td>
                        <td>{{ property.heatType }}</td>
                    </tr>
                </table>
            </div>
            <div class="col-md-4">
                <h3>Specifications: </h3>
                <ul class="list-group">
                    {% for option in property.options %}
                        <li class="list-group-item">
                            {{ option.name }}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}