{% extends 'base.html.twig' %}

{% block title %} {{ property.title }}{% endblock %}
{% block body %}
    <div class="container mt-4">
        <div class="mt-4">
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert alert-{{ label }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}

            {% if not form.vars.valid %}
                <div class="alert alert-danger">
                    Erreur !
                </div>
            {% endif %}
        </div>
        <div class="row">
            <div class="col-md-8">
                <div data-slider>
                    {% if property.images is empty %}
                        <img src="{{ '/images/defaults/property_default.jpeg' | imagine_filter('medium') }}" style="width: 100%; height: auto;" alt="{{ property.title }}">
                    {% else %}
                        {% for image in property.images %}
                            <img src="{{ vich_uploader_asset(image, 'imageFile') | imagine_filter('medium') }}" style="width: 100%; max-height: 450px;" alt="{{ property.title }}">
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
            <div class="col-md-4">
                <h1>{{ property.title }}</h1>
                <p>{{ property.rooms }} rooms - {{ property.surface }} m²</p>

                {% if property.author.avatar %}
                    <img src="{{ vich_uploader_asset(property.author, 'imageFile') }}" alt="card-img-top" style="width: 100%; height:auto;">
                {% else %}
                    <img src="{{ '/images/properties/empty.jpg' | imagine_filter('medium') }}" alt="card-img-top" style="width: 100%; height:auto;">
                {% endif %}

                <img src="{{ property.author.avatar }}" alt="Photo de profil de {{ property.author.firstName }} {{ property.author.lastName }}">
                <h3>{{ property.author.firstName }} {{ property.author.lastName }}</h3>
                <span class="badge badge-primary">{{ property.author.properties | length }} annonces</span>
                <p>{{ property.author.description | raw }}</p>

                <div class="text-primary" style="font-weight: bold;font-size: 4rem;">{{ property.formattedPrice }} €</div>
                <button id="contactBtn" class="btn btn-primary" {% if form.vars.submitted %} style="display: none;" {% endif %}>Contacter l'agence</button>
                <div id="contactForm" class="mt-4" {% if not form.vars.submitted %} style="display: none;" {% endif %}>
                    {{ form_start(form) }}
                        <div class="row">
                            <div class="col">{{ form_row(form.firstName) }}</div>
                            <div class="col">{{ form_row(form.lastName) }}</div>
                        </div>
                    <div class="row">
                        <div class="col">{{ form_row(form.phone) }}</div>
                        <div class="col">{{ form_row(form.email) }}</div>
                    </div>
                    {{ form_rest(form) }}
                    <div class="form-group">
                        <button class="btn btn-primary">Envoyer</button>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>

        <p>
            {{ property.description|nl2br }}
        </p>
        <div class="row">
            <div class="col-md-8">
                <h2>Characteristics: </h2>
                <table class="table table-striped">
                    <tr>
                        <td>Living surface</td>
                        <td>{{ property.surface }}</td>
                    </tr>

                    <tr>
                        <td>Rooms</td>
                        <td>{{ property.rooms }}</td>
                    </tr>

                    <tr>
                        <td>Bedrooms</td>
                        <td>{{ property.bedrooms }}</td>
                    </tr>

                    <tr>
                        <td>Floor</td>
                        <td>{{ property.floor }}</td>
                    </tr>

                    <tr>
                        <td>Heating type</td>
                        <td>{{ property.heatType }}</td>
                    </tr>
                </table>
            </div>
            <div class="col-md-4">
                <h3>Specifications: </h3>
                <ul class="list-group">
                    {% for option in property.options %}
                        <li class="list-group-item">
                            {{ option.name }}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div id="map" style="width: 100%; height: 400px;" data-lat="{{ property.lat }}" data-lng="{{ property.lng }}"></div>
    </div>
{% endblock %}