{% extends 'base.html.twig' %}

{% block body %}
    <div class="jumbotron text-center">
        <h1>YAAAA!</h1>
        <p>fkdjkdfjkdfjk</p>
    </div>

    <div class="container">
        <h2>Les derniers biens</h2>
        <div class="row flex">
            {% for property in properties %}
                <div class="col-3">
                    <dic class="card">
                        <div class="card-body">
                            <p class="card-title">
                                <a href="{{ path('property.show', {id: property.id, slug: property.slug}) }}">{{ property.title }}</a>
                            </p>
                            <p class="card-text">{{ property.description }}</p>
                            <p class="card-text">{{ property.city }} {{ property.zipCode }}</p>
                            <p class="text-primary">{{ property.formattedPrice }} €</p>
                        </div>
                    </dic>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
