{% extends 'base.html.twig' %}

{% block title %}Réserver l'annonce : {{ property.title }} !{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" />
    <style>
        .datepicker table tr td.disabled, .datepicker table tr td.disabled:hover {

            background: #ffc6c6;
            background-color: rgb(255, 198, 198);
            background-position-x: 0%;
            background-position-y: 0%;
            background-repeat: repeat;
            background-attachment: scroll;
            background-image: none;
            background-size: auto;
            background-origin: padding-box;
            background-clip: border-box;
            color: red;
            cursor: default;

        }
    </style>
{% endblock %}

{% block body %}
    <div class="container">

        {% for message in app.flashes('warning') %}
            <div class="alert alert-warning">
                {{ message }}
            </div>
        {% endfor %}

        <h1>Réservez pour l'annonce : {{ property.title }}</h1>

        <p>Vous êtes sur le point de réserver le bien de <strong>{{ property.author.firstName }}</strong>, donnez nous vos dates, on s'occupe du reste !</p>

        {{ form_start(form) }}
        <div class="alert alert-light">
            <h2>Commencez par nous dire quelles sont les dates qui vous intéressent !</h2>

            <div class="row">
                <div class="col">
                    {{ form_row(form.startDate) }}
                </div>
                <div class="col">
                    {{ form_row(form.endDate) }}
                </div>
            </div>

            <h4>Montant du séjour: <span id="amount">...</span> &euro;</h4>
            <p><span id="days"></span> nuit(s) à {{ property.price }} / nuit</p>

            {{ form_row(form.comment) }}

            <button type="submit" class="btn btn-success">Je réserve !</button>

            {{ form_end(form) }}

        </div>

    </div>
{% endblock %}

{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#booking_startDate, #booking_endDate').datepicker({
                format: 'dd/mm/yyyy',
                datesDisabled: [
                    {% for day in property.notAvailableDates %}
                    "{{ day.format('d/m/Y') }}",
                    {% endfor %}
                ],
                startDate: new Date()
            });

            $('#booking_startDate, #booking_endDate').on('change', calculateAmount);
        });

        function calculateAmount(){
            const endDate = new Date($('#booking_endDate').val().replace(/(\d+)\/(\d+)\/(\d{4})/, '$3-$2-$1'));
            const startDate = new Date($('#booking_startDate').val().replace(/(\d+)\/(\d+)\/(\d{4})/, '$3-$2-$1'));

            if(endDate && startDate && startDate < endDate) {
                const interval = endDate.getTime() - startDate.getTime();
                const days = interval / 24 * 60 * 60 * 1000;
                const amount = days * {{ property.price }};

                $('#days').text(days);
                $('#amount').text(amount.toLocaleString('fr-FR'));

            }
        }
    </script>
{% endblock %}
