{% extends 'base.html.twig' %}

{% block title %}Réservation N° {{ booking.id }} !{% endblock %}

{% block body %}
    <div class="container">
        <h1>Votre réservation (N° {{ booking.id }})</h1>

        {% if app.request.query.get('confirmationAlert') %}
            <div class="alert alert-success">
                <p class="alert-heading">Votre réservation auprès de {{ booking.ad.author.firstName }} {{ booking.ad.author.lastName }} pour l'annonce {{ booking.ad.title }} a bien été prise en compte</p>
            </div>
        {% endif %}
        
        <div class="row">
            <div class="col">
                <div class="alert alert-light">
                    <h2>Détails :</h2>
                    <dl class="row">
                        <dt class="col-md-4">Numéro</dt>
                        <dd class="col-md-8">{{ booking.id }}</dd>
                        <dt class="col-md-4">Date d'arrivée</dt>
                        <dd class="col-md-8">{{ booking.startDate | date('d/m/Y') }}</dd>
                        <dt class="col-md-4">Date de départ</dt>
                        <dd class="col-md-8">{{ booking.endDate | date('d/m/Y') }}</dd>
                        <dt class="col-md-4">Nombre de nuits</dt>
                        <dd class="col-md-8">{{ booking.duration }}</dd>
                        <dt class="col-md-4">Montant total</dt>
                        <dd class="col-md-8">{{ booking.amount }} &euro;</dd>
                        <dt class="col-md-4">Commentaire</dt>
                        <dd class="col-md-8">{{ booking.comment }}</dd>
                    </dl>
                    <hr>
                    <h3 class="alert-heading">
                        Votre hôte
                    </h3>

                    <div class="row">
                        <div class="col-3">
                            {% if booking.ad.author.avatar %}
                                <img src="{{ vich_uploader_asset(booking.ad.author, 'imageFile') | imagine_filter('medium') }}" class="avatar" alt="{{ booking.ad.author.firstName }}">
                            {% else %}
                                <img src="{{ '/images/defaults/property_default.jpeg' | imagine_filter('medium') }}" class="avatar" alt="{{ booking.ad.author.firstName }}">
                            {% endif %}
                        </div>
                        <div class="col-9">
                            <h4>
                                <a href="{{ path('user.show', {'id': booking.ad.author.id}) }}">
                                    <h3>{{ booking.ad.author.firstName }} {{ booking.ad.author.lastName }}</h3>
                                </a>
                            </h4>
                            <span class="badge badge-primary">{{ booking.ad.author.properties | length }} annonces</span>

                        </div>
                    </div>

                    <p class="mt-4">{{ booking.ad.author.description | raw }}</p>

                    <a href="{{ path('user.show', {'id': booking.ad.author.id}) }}" class="btn btn-primary">
                        Plus d'infos sur {{ booking.ad.author.firstName }}
                    </a>
                </div>
            </div>
            <div class="col">
                <div class="alert alert-light">
                    <h2 class="alert-heading">Votre hébergement</h2>
                    <h4>
                    <a href="{{ path('property.show', {id: booking.ad.id, slug: booking.ad.slug}) }}">{{ booking.ad.title }}</a>
                    </h4>

                    <div data-slider>
                        {% if booking.ad.images is empty %}
                            <img src="{{ '/images/defaults/property_default.jpeg' | imagine_filter('medium') }}" style="width: 100%; height: auto;" alt="{{ booking.ad.title }}">
                        {% else %}
                            {% for image in booking.ad.images %}
                                <img src="{{ vich_uploader_asset(image, 'imageFile') | imagine_filter('medium') }}" style="width: 100%; max-height: 450px;" alt="{{ booking.ad.title }}">
                            {% endfor %}
                        {% endif %}
                    </div>

                    <p>
                        {{ booking.ad.description|nl2br }}
                    </p>

                    <a href="{{ path('property.show', {id: booking.ad.id, slug: booking.ad.slug}) }}" class="btn btn-primary">Plus d'informations</a>

                </div>
            </div>
        </div>
    </div>
{% endblock %}
